<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bank Software</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>operations.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>operations.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>operations.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawMoney</display-name>
    <servlet-name>WithdrawMoney</servlet-name>
    <servlet-class>operations.WithdrawMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawMoney</servlet-name>
    <url-pattern>/WithdrawMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositMoney</display-name>
    <servlet-name>DepositMoney</servlet-name>
    <servlet-class>operations.DepositMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositMoney</servlet-name>
    <url-pattern>/DepositMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin1</display-name>
    <servlet-name>LoginAdmin1</servlet-name>
    <servlet-class>operations.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin1</servlet-name>
    <url-pattern>/LoginAdmin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>operations.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/TransferServlet</url-pattern>
  </servlet-mapping>
  
  
 
</web-app>