<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>registrationform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUser</display-name>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>registerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRemainder</display-name>
    <servlet-name>AddRemainder</servlet-name>
    <servlet-class>AddRemainder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRemainder</servlet-name>
    <url-pattern>/AddRemainder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewUser</display-name>
    <servlet-name>viewUser</servlet-name>
    <servlet-class>viewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewUser</servlet-name>
    <url-pattern>/viewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUserA</display-name>
    <servlet-name>LoginUserA</servlet-name>
    <servlet-class>Project.LoginUserA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserA</servlet-name>
    <url-pattern>/LoginUserA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userDashboardAction</display-name>
    <servlet-name>userDashboardAction</servlet-name>
    <servlet-class>userDashboardAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDashboardAction</servlet-name>
    <url-pattern>/userDashboardAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRemainder1</display-name>
    <servlet-name>AddRemainder1</servlet-name>
    <servlet-class>Project.AddRemainder1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRemainder1</servlet-name>
    <url-pattern>/AddRemainder1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteremainder</display-name>
    <servlet-name>deleteremainder</servlet-name>
    <servlet-class>deleteremainder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteremainder</servlet-name>
    <url-pattern>/deleteremainder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUser1</display-name>
    <servlet-name>registerUser1</servlet-name>
    <servlet-class>Project.registerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser1</servlet-name>
    <url-pattern>/registerUser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUser2</display-name>
    <servlet-name>registerUser2</servlet-name>
    <servlet-class>Project.registerUser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser2</servlet-name>
    <url-pattern>/registerUser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginuser2</display-name>
    <servlet-name>Loginuser2</servlet-name>
    <servlet-class>Project.Loginuser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginuser2</servlet-name>
    <url-pattern>/Loginuser2</url-pattern>
  </servlet-mapping>
</web-app>