<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ArogyaVibhag</display-name>
  <welcome-file-list>
    <welcome-file>finalindex.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginArogyaVibhag</display-name>
    <servlet-name>LoginArogyaVibhag</servlet-name>
    <servlet-class>com.mitali2.services.LoginArogyaVibhag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginArogyaVibhag</servlet-name>
    <url-pattern>/LoginArogyaVibhag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCase</display-name>
    <servlet-name>AddCase</servlet-name>
    <servlet-class>com.mitali2.services.AddCase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCase</servlet-name>
    <url-pattern>/AddCase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.mitali2.services.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArogyaVibhag</display-name>
    <servlet-name>AddArogyaVibhag</servlet-name>
    <servlet-class>com.mitali2.services.AddArogyaVibhag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArogyaVibhag</servlet-name>
    <url-pattern>/AddArogyaVibhag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpecialistDoctor</display-name>
    <servlet-name>AddSpecialistDoctor</servlet-name>
    <servlet-class>com.mitali2.services.AddSpecialistDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpecialistDoctor</servlet-name>
    <url-pattern>/AddSpecialistDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSpecialistDoctor</display-name>
    <servlet-name>LoginSpecialistDoctor</servlet-name>
    <servlet-class>com.mitali2.services.LoginSpecialistDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSpecialistDoctor</servlet-name>
    <url-pattern>/LoginSpecialistDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contact</display-name>
    <servlet-name>contact</servlet-name>
    <servlet-class>com.mitali2.services.contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>com.mitali2.services.contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcomment</display-name>
    <servlet-name>addcomment</servlet-name>
    <servlet-class>com.mitali2.services.addcomment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcomment</servlet-name>
    <url-pattern>/addcomment</url-pattern>
  </servlet-mapping>
</web-app>