<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EV Charging Station Finder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterStation</display-name>
    <servlet-name>RegisterStation</servlet-name>
    <servlet-class>functions.RegisterStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStation</servlet-name>
    <url-pattern>/RegisterStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationServlet</display-name>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>functions.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>functions.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePowerServlet</display-name>
    <servlet-name>UpdatePowerServlet</servlet-name>
    <servlet-class>functions.UpdatePowerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePowerServlet</servlet-name>
    <url-pattern>/UpdatePowerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStation</display-name>
    <servlet-name>LoginStation</servlet-name>
    <servlet-class>functions.LoginStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStation</servlet-name>
    <url-pattern>/LoginStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>functions.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
</web-app>